{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ photo.sign }}{% endblock %}

{% block menu %}
     <li><a href="{% url 'webapp:photo_delete' photo.pk%}"> Delete photo </a></li>
     <li><a href="{% url 'webapp:photo_update' photo.pk %}"> Update photo </a></li>
{% endblock %}
{% block content %}
    <p class="text-center">
        <h1>{{ photo.sign }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
               {% if photo.photo %}
                  <img src="{{ photo.photo.url }}" class="img-fluid" alt="{{ photo.sign }}">
                {% else %}
                    <img class="avatar" src="{% static "pics/index.jpeg" %}" alt="My image"/>
                {% endif %}

            </div>
        </div>
        <p>{{ photo.sign }}</p>
        <p>{{ photo.author}}</p>
        <p>{{ photo.created_at }}</p>
        <p>{{ photo.likenum }} </p>

    <hr>
    {% for comment in photo.comments.all %}
        <div class="comment">
            <p> Автор: {{ photo.author }} </p>
            <p> Created at {{ comment.created_at|date:'Y-m-d H:i:s' }}</p>
            <div class="pre">{{ comment.text }}</div>
     {% endfor %}
{% endblock %}